body{
    font-family: 'League Spartan', sans-serif;
    margin: 5% 10%;
}
h1{
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    font-size: 3rem;
    width: 400px;
}
h3{
    color: hsl(303, 10%, 53%);
    width: 400px;
    font-size: 15px;
    line-height: 20px;
}

img{
    border-radius: 50%;
    height: 40px;
    float: left;
    position: absolute;
    top: 390px;
    
}
h4{
    position: relative;
    left: 70px;
    font-size: 15px;
    margin: 5px;
}
.irene-pic{
    position: absolute;
    top: 30px;
}
.anne-pic{
    position: absolute;
    top: 30px;
}
.colton-review{
    background-color: hsl(300, 43%, 22%); 
    border-radius: 8px;
    margin: 10px;
    padding: 25px;
    display: inline-block;
    width: 270px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 20px;
}
.irene-review{
    background-color: hsl(300, 43%, 22%); 
    border-radius: 8px;
    margin: 20px;
    padding: 25px;
    display: inline-block;
    position: relative;
    top: 25px;
    width: 270px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 20px;
}
.anne-review{
    background-color: hsl(300, 43%, 22%); 
    border-radius: 8px;
    margin: 30px;
    padding: 25px;
    display: inline-block;
    position: relative;
    top: 50px;
    width: 270px;
    font-size: 15px;
    font-weight: 400;
    color: white;
    line-height: 20px;
}


.attribution{
   background-color: white;
   color: black;
   position: absolute;
   bottom: 3px;
   left: auto;
}
.verified-buyer{
    color: hsl(333, 80%, 67%);
}
.rating-reviews{
    color: hsl(300, 43%, 22%);
    display: inline-block;
    position: absolute;
    top: 120px;
    left: 700px;
    font-weight: 900;
    background-color: hsla(333, 80%, 67%, 0.127);
    padding: 10px;
    padding-right: 50px;
    border-radius: 8px;
}
.rating-report{
    color: hsl(300, 43%, 22%);
    display: inline-block;
    position: absolute;
    top: 175px;
    left: 740px;
    font-weight: 900;
    background-color: hsla(333, 80%, 67%, 0.127);
    padding: 10px;
    padding-right: 50px;
    border-radius: 8px;
}
.rating-BestTech{
    color: hsl(300, 43%, 22%);
    display: inline-block;
    position: absolute;
    top: 230px;
    left: 780px;
    font-weight: 900;
    background-color: hsla(333, 80%, 67%, 0.127);
    padding: 10px;
    padding-right: 80px;
    border-radius: 8px;
}